@{
    Layout = "_AdminLayout";
}


@model List<Movie>

@if (Model.Count() == 0)
{
    <h2>Non sono ci sono Film</h2>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Titolo
                </th>
                <th>
                    Lingua
                </th>
                <th>
                    Regista
                </th>
                <th>
                    Anno
                </th>
                <th>
                    Durata
                </th>
                <th>
                    #
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movie movie in Model)
            {
                <tr>
                    @*<td><a href="@Url.Action("Detail",new {id = pizza.Id})">@pizza.Id</a></td>*@
                    <td>
                        <span>
                            @movie.Id
                        </span>
                    </td>
                    <td class="image">
                        @movie.Title
                    </td>
                    <td class="title">
                        @movie.Language
                    </td>
                    <td class="description">
                        @movie.Director
                    </td>
                    <td class="Category">
                        @movie.Year
                    </td>
                    <td class="price">
                        @movie.Duration
                    </td>
                    <td class="detail">
                        <a href="@Url.Action("Details", "Movie", new {id = movie.Id})" class="btn btn-primary rounded">Mostra</a>
                        <a href="@Url.Action("Update", "Movie", new {id = movie.Id})" class="btn btn-warning rounded">Modifica</a>

                        <form asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id" method="post">
                            <button class="btn btn-danger rounded">Elimina</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>


    </table>
}